USER=$USER

APP_NAME=Visual_Paradigm
APP_SHARED_DIR=path/to/shared/folder (will be the /root directory of the container)

EXEC=vp-gui
DESKTOP=Visual_Paradigm_17.0.desktop

ALL_USERS_APPLICATION=/usr/share/applications
ALL_USERS_EXEC=/usr/local/bin

EXEC_PATH=/home/$USER/.local/bin
DESKTOP_PATH=/home/$USER/.local/share/applications
